extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var isMarkerless = true

block content
  model-viewer(
      alt = 'A 3D model of a book',
      ar = '',
      ar-scale = '',
      autoplay = '',
      auto-rotate = '',
      background-color = '#1f1f1f',
      camera-controls = '',
      magic-leap = '',
      shadow-intensity = '1',
      src = baseUrl + 'assets/ar/models/medieval_fantasy_book/scene.gltf',
      quick-look-browsers = ''
  )

