extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var isMarkerless = true

block content
  //- audi-r8
  model-viewer(
    alt = 'A 3D model of an audi-r8',
    ar = '',
    ar-scale = 'auto'
    autoplay = '',
    background-color = '#222',
    camera-controls = '',
    ios-src = baseUrl + 'assets/ar/models/audi-r8/audi-r8.usdz',
    magic-leap = '',
    shadow-intensity = '1',
    src = baseUrl + 'assets/ar/models/audi-r8/scene.gltf',
    quick-look-browsers = '',
    unstable-webxr = ''
  )
