extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var isUsingMarkers = true

block content
  a-scene(vr-mode-ui='enabled: false', embedded='', arjs='sourceType: webcam; sourceWidth:1280; sourceHeight:960; displayWidth: 1280; displayHeight: 960; debugUIEnabled: false;')
    a-box(color='red', gps-entity-place='latitude: -35.272809997524085; longitude: 149.1320998')
    a-camera(gps-camera='', rotation-reader='')