extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var isMarkerless = true

block content
  //- Astronaut
  model-viewer(
    alt = 'A 3D model of a lighthouse',
    ar = '',
    ar-scale = 'auto'
    autoplay = '',
    background-color = '#222',
    camera-controls = '',
    ios-src = baseUrl + 'assets/ar/models/the_lighthouse/scene.gltf',
    magic-leap = '',
    shadow-intensity = '1',
    src = baseUrl + 'assets/ar/models/the_lighthouse/scene.gltf',
    quick-look-browsers = '',
    unstable-webxr = ''
  )
