extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var isMarkerless = true

block content
  //- macintosh
  model-viewer(
    alt = 'A 3D model of an macintosh',
    ar = '',
    ar-scale = 'auto'
    autoplay = '',
    background-color = '#222',
    camera-controls = ''
    camera-target = '0m -40m 0m',
    ios-src = baseUrl + 'assets/ar/models/macintosh/macintosh.usdz',
    shadow-intensity = '1',
    shadow-softness = '1',
    src = baseUrl + 'assets/ar/models/macintosh/scene.gltf'
  )

