extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var isMarkerless = true

block content
  //- macintosh
  model-viewer(
    alt = 'A 3D model of an macintosh',
    ar = '',
    ar-scale = 'auto'
    autoplay = '',
    background-color = '#222',
    camera-controls = '',
    ios-src = baseUrl + 'assets/ar/models/macintosh/macintosh.usdz',
    magic-leap = '',
    shadow-intensity = '1',
    shadow-softness = '1',
    src = baseUrl + 'assets/ar/models/macintosh/scene.gltf',
    quick-look-browsers = '',
    unstable-webxr = ''
  )

