extends ../../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../../'
    - var isNewARjsOnly = true

block content
    a-scene(background='color: #FAFAFA')
        a-assets
            a-asset-item#lighthouse(src=baseUrl + 'assets/ar/models/the_lighthouse/scene.gltf')

        a-entity(
            position='0 -100 -400',
            gltf-model='#lighthouse'
        )
