/* =======================================================================
Layout
========================================================================== */
#main {
    position: relative;
}

model-viewer {
    height: calc(100vh - 60px);
    width: 100vw;
}

#default-ar-button {
    bottom: 40px;
}

.offline {
    height: calc(100vh - 91px);
    text-align: center;

    @include mobile {
        height: calc(100vh - 45px);
    }


    svg {
        width: 100px;
    }

    .container {
        .wrap {
            @include centering-the-unknown;
        }
    }
}

.backstretch {
    background-color: $grey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.a-enter-vr-button {
    display: none;
}
