extends _layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = './'

block content
    .container
        h2 AR Table of Contents

        h3 Markerless
        ul
            li A-Frame
                ul
                    li
                        a(href='./markerless/tokyo') Littlest Tokyo
                    li
                        a(href='./markerless/mill') Mill
                    li
                        a(href='./markerless/lighthouse') Lighthouse
            li Model Viewer
                ul
                    li
                        a(href='./markerless/book') Book
                    li
                        a(href='./markerless/hamburger') Hamburger
                    li
                        a(href='./markerless/restaurant') Restaurant
                    li
                        a(href='./markerless/astronaut') Astronaut

        h3 Markers
        ul
            li
                a(href='./markers') Markers

        //- h3 Image Tracker
        //- ul
        //-     li
        //-         a(href='./image-tracker') Image Tracker

        h3 Location-based
        ul
            li
                a(href='./location') Location-based
