extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  - var isMarkerless = true

block content
  //- astronaut
  model-viewer(
    alt = 'A 3D model of an astronaut',
    ar = '',
    ar-scale = 'auto'
    autoplay = '',
    background-color = '#222',
    camera-controls = '',
    ios-src = baseUrl + 'assets/ar/models/astronaut/astronaut.usdz',
    shadow-intensity = '1',
    src = baseUrl + 'assets/ar/models/astronaut/astronaut.glb'
  )
